.card{
border: 1px white solid;
width: 300px;
height: fit-content;
display: flex;
flex-direction: column;
gap: 10px;
border-radius: 10px;
align-items: center;

}
.card span{
    font-weight: 900;
    font-size: 25px;
}
.card img{
    width: 300PX;
    border-radius: 10px 10px 0 0;
}
.card ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content-left{
    display: flex;
flex-direction: row;
width: 100%;
gap: 2%;
align-items: center;
justify-content: center;
}
.content-right{
    display: flex;
flex-direction: row;
width: 100%;
gap: 2%;
align-items: center;
justify-content: center;
}
.card a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.pass{
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
}
.pass:hover{
    cursor: pointer;
    border: 1px solid white;
    
    border-radius: 5px;
}
.disable{
    display: none;
}

@media screen and (max-width: 500px){
    .pass{
        display: none;
    }
    .content-left{
        flex-direction: column;
        gap: 20px;
    }
    .content-right{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
   
}